<!-- Card -->
<mdb-card>
  <h1>Are you ready?</h1>

  <div class="img-size round-image view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="../../../assets/cagatay.jpeg" alt="Card image cap"></mdb-card-img>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>Cagatay Özyurt</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>1st place - 1:23:3451</mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Start</a>
  </mdb-card-body>
</mdb-card>
<!-- Card -->
