<!-- Card -->
<mdb-card>
  <h1>Are you ready?</h1>

  <div class="img-size round-image view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img [src]="image"></mdb-card-img>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>{{fullName}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>{{pos}} - {{time}}</mdb-card-text>

    <a (click)="navigateToGame()" mdbBtn color="primary" mdbWavesEffect>Start</a>
  </mdb-card-body>
</mdb-card>
<!-- Card -->
